<h1><%=@user.username%>'s profile</h1>
<h2>Articles</h2>
<%= render 'articles/article'%>
<p>
  <%= link_to 'Cancel and return back to articles', articles_path %>
</p>
<p>
  <%= link_to "Log out", logout_path, class: "text-blue-500", data: {turbo_method: :delete } %>
</p>