<h1 class="text-blue-500 text-2xl">Welcome to articles listing!</h1>
<p>
  <%= link_to 'Our Articles', articles_path, class: "text-blue-500" %> |
  <%= link_to 'About page', about_path, class: "text-blue-500" %>
</p>